@import '../../style/base';

.chosen-value {
    transition: .3s ease-in-out;
    &:focus,
    &.open {
        outline: 0;
    }
}

.value-list {
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in-out;
    &.open {
        max-height: 320px;
        overflow: auto;
    }
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
    rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    z-index: 1;
    li {
        position: relative;
        background-color: #FAFCFD;
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color .3s;
        opacity: 1;
        &:hover {
            background-color: $primary-color-light;
            color: $primary-color-text;
        }
        &.closed {
            max-height: 0;
            overflow: hidden;
            padding: 0;
            opacity: 0;
        }
    }
}