@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000a12;
  text-decoration: none; }

.title-home {
  padding: 10px;
  background: #002f6c;
  width: 100%;
  display: block;
  color: #ffffff;
  text-align: center; }

.nav-bar-container > div > ul {
  background: #4f83cc;
  width: 100%;
  text-align: center;
  display: table; }
  .nav-bar-container > div > ul li {
    display: table-cell;
    padding: 20px;
    border-bottom: 2px transparent solid; }
    .nav-bar-container > div > ul li a {
      color: #ffffff;
      display: block;
      text-align: center; }
    .nav-bar-container > div > ul li:hover {
      border-bottom: 2px #263238 solid;
      cursor: pointer;
      background: #ffffff; }
      .nav-bar-container > div > ul li:hover a {
        color: #4f83cc; }

.posts-container {
  text-align: center; }
  .posts-container > div {
    display: inline-block;
    width: 40%;
    min-width: 400px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    z-index: 1; }
    .posts-container > div .post-content:hover {
      cursor: pointer; }
    .posts-container > div .post-content .post-image img {
      vertical-align: top;
      max-width: 100%;
      min-width: 100%;
      width: 100%; }
  .posts-container .active-post {
    width: 100%;
    margin: 0 auto;
    height: 1000px;
    padding: 20px; }
    .posts-container .active-post .post-content .post-image img {
      vertical-align: top;
      max-width: 30%;
      min-width: 15%;
      width: 30%; }

.primary-button button {
  background: #01579b !important; }

.radio-button {
  width: 70%;
  margin: 0 auto;
  text-align: start !important; }
  .radio-button > div {
    width: auto !important;
    margin: auto; }
  .radio-button label {
    width: auto !important;
    color: #263238 !important; }
  .radio-button svg:nth-child(1) {
    fill: #263238 !important; }
  .radio-button svg:nth-child(2) {
    fill: #01579b !important; }
  .radio-button.horizontal-radio-button {
    display: flex;
    text-align: start !important;
    flex-direction: row; }

.input-text-container {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
  display: inline-block;
  font-size: 1.1em; }
  .input-text-container input {
    border: none;
    outline: none; }
    .input-text-container input:focus ~ label, .input-text-container input:valid ~ label {
      color: #01579b;
      top: -100%;
      font-size: .8em; }
    .input-text-container input:focus ~ hr, .input-text-container input:valid ~ hr {
      transform: scaleX(1); }
    .input-text-container input:active ~ .ripple {
      opacity: 1;
      transform: scale(1); }
  .input-text-container label {
    position: absolute;
    color: rgba(0, 0, 0, 0.3);
    left: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    top: 0px;
    pointer-events: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    color: #263238; }
  .input-text-container hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #01579b;
    margin: 0 auto;
    pointer-events: none;
    transform: scaleX(0);
    position: absolute;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
  .input-text-container div.ripple {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #00bcd4;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.ripple-container {
  /*Con los siguientes valores de position, top, left, width y height aseguramos que el div tome todo el tamaño de su padre*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent; }

.ripple-effect {
  position: absolute;
  /*En javascript colocaremos el top y left de este span en el punto donde hizo click el usuario. Por eso es necesario trasladarlo en -50% en ambos ejes, para que el centro del efecto coincida con el click*/
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4); }

.btn-flat .ripple-effect {
  background: rgba(33, 150, 243, 0.4); }

.ripple-container.ripple-effect-animation .ripple-effect {
  /*Aplicamos la animación que mas adelante definiremos con @keyframes*/
  -webkit-animation: ripple .4s ease-in;
  animation: ripple .4s ease-in; }

@-webkit-keyframes ripple {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding-bottom: 200%;
    width: 200%; } }

@-webkit-keyframes ripple {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding-bottom: 200%;
    width: 200%; } }

#map {
  height: 100%; }

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px; }

#pac-input:focus {
  border-color: #4d90fe; }

.pac-container {
  font-family: Roboto; }

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

#target {
  width: 345px; }
