* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000a12;
  text-decoration: none; }

.title-home {
  padding: 10px;
  background: #002f6c;
  width: 100%;
  display: block;
  color: #ffffff;
  text-align: center; }

.nav-bar-container > div > ul {
  background: #4f83cc;
  width: 100%;
  text-align: center;
  display: table; }
  .nav-bar-container > div > ul li {
    display: table-cell;
    padding: 20px;
    border-bottom: 2px transparent solid; }
    .nav-bar-container > div > ul li a {
      color: #ffffff;
      display: block;
      text-align: center; }
    .nav-bar-container > div > ul li:hover {
      border-bottom: 2px #263238 solid;
      cursor: pointer;
      background: #ffffff; }
      .nav-bar-container > div > ul li:hover a {
        color: #4f83cc; }

.posts-container {
  text-align: center; }
  .posts-container > div {
    display: inline-block;
    width: 40%;
    min-width: 400px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    z-index: 1; }
    .posts-container > div .post-content:hover {
      cursor: pointer; }
    .posts-container > div .post-content .post-image img {
      vertical-align: top;
      max-width: 100%;
      min-width: 100%;
      width: 100%; }
  .posts-container .active-post {
    width: 100%;
    margin: 0 auto;
    height: 1000px;
    padding: 20px; }
    .posts-container .active-post .post-content .post-image img {
      vertical-align: top;
      max-width: 30%;
      min-width: 15%;
      width: 30%; }

.primary-button button {
  background: #01579b !important; }

.radio-button {
  width: 100%;
  text-align: start !important; }
  .radio-button > div {
    width: auto !important; }
  .radio-button label {
    width: auto !important;
    color: #263238 !important; }
  .radio-button svg:nth-child(1) {
    fill: #263238 !important; }
  .radio-button svg:nth-child(2) {
    fill: #01579b !important; }
  .radio-button.horizontal-radio-button {
    display: flex;
    text-align: start !important;
    flex-direction: row; }
